---
http_interactions:
- request:
    method: get
    uri: https://www.abbreviations.com/services/v2/quotes.php?format=json&searchtype=RANDOM&tokenid=<fake_token>&uid=<fake_uid>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"result":{"quote":"Nine-tenths of the people were created so you would
        want to be with the other tenth.","author":"Horace Walpole"}}'
  recorded_at: Mon, 28 Feb 2022 20:06:00 GMT
recorded_with: VCR 6.0.0
