---
http_interactions:
- request:
    method: get
    uri: https://www.abbreviations.com/services/v2/quotes.php?format=json&searchtype=RANDOM&tokenid=<fake_token>&uid=<fake_uid>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"result":{"quote":"On the soft bed of luxury many kingdoms have expired.","author":"Andrew
        Young"}}'
  recorded_at: Mon, 28 Feb 2022 16:20:29 GMT
recorded_with: VCR 6.0.0
