---
http_interactions:
- request:
    method: get
    uri: https://www.abbreviations.com/services/v2/quotes.php?format=json&searchtype=RANDOM&tokenid=<fake_token>&uid=<fake_uid>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"result":{"quote":"I have said nothing because there is nothing I
        can say that would describe how I feel as perfectly as you deserve it.","author":"Kyle
        Schmidt"}}'
  recorded_at: Tue, 01 Mar 2022 19:05:51 GMT
recorded_with: VCR 6.0.0
