---
http_interactions:
- request:
    method: get
    uri: https://www.abbreviations.com/services/v2/quotes.php?format=json&searchtype=RANDOM&tokenid=<fake_token>&uid=<fake_uid>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"result":{"quote":"So live that your memories will be part of your
        happiness.","author":"Author Unknown"}}'
  recorded_at: Tue, 01 Mar 2022 16:53:09 GMT
recorded_with: VCR 6.0.0
