---
http_interactions:
- request:
    method: get
    uri: https://www.abbreviations.com/services/v2/quotes.php?format=json&searchtype=RANDOM&tokenid=<fake_token>&uid=<fake_uid>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"result":{"quote":"One man scorned and covered with scars still strove
        with his last ounce of courage to reach the unreachable stars and the world
        will be better for this.","author":"Miguel de Cervantes"}}'
  recorded_at: Mon, 28 Feb 2022 20:05:57 GMT
recorded_with: VCR 6.0.0
