---
http_interactions:
- request:
    method: get
    uri: https://www.abbreviations.com/services/v2/quotes.php?format=json&searchtype=RANDOM&tokenid=<fake_token>&uid=<fake_uid>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"result":{"quote":"I believe that every right implies a responsibility;
        every opportunity an obligation; every possession, a duty.","author":"John
        D. Rockefeller"}}'
  recorded_at: Mon, 28 Feb 2022 16:20:50 GMT
recorded_with: VCR 6.0.0
