---
http_interactions:
- request:
    method: get
    uri: https://www.abbreviations.com/services/v2/quotes.php?format=json&searchtype=RANDOM&tokenid=<fake_token>&uid=<fake_uid>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"result":{"quote":"The water from the river becomes salty when it
        gets into the ocean.","author":"Vikrant Parsai"}}'
  recorded_at: Tue, 01 Mar 2022 19:05:49 GMT
recorded_with: VCR 6.0.0
