---
http_interactions:
- request:
    method: get
    uri: https://www.abbreviations.com/services/v2/quotes.php?format=json&searchtype=RANDOM&tokenid=<fake_token>&uid=<fake_uid>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"result":{"quote":"My mother never boasted about it. She always kept
        it to herself, kept it secret. Spoke about it as little as possible. I would
        have preferred if she had also told us about it. Otto Frank visited us regularly
        and then you sometimes heard things, but I\u2019ve never heard the whole story.","author":"Ton
        Voskuijl"}}'
  recorded_at: Mon, 28 Feb 2022 20:05:59 GMT
recorded_with: VCR 6.0.0
